@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.font_weight_400{
    font-weight : 400;
}

.bg_color1{
    background-color : #1C1F3C;
}

.bg_color2{
    background-color : #9BABB8;
}

.bg_color3{
    background-color : #DEDEDE;
}

.bg_color4{
    background-color : #C7C7C7;
}

.container_height{
	min-height: 50rem;
}

/* navbar home.php, login.php */
    .a_action a{
        color: black;
        font-weight : 400;
    }

    .a_action a:link{
        text-decoration: none;
    }

    .a_action a:hover{
        background-color : #7E8A93;
        border : 1px solid #7E8A93;
    }

    .a_action a:actived{
        color: black;
    }

    .a_action a:visited{
        color: black;
    }

    .border_color1{
        border : 1px solid #9BABB8;
        color : black;
    }
/* navbar home.php, login.php */

/* footer */
    .text_footer{
        font-size : 12px;
        color : #676767;
    }
/* footer */

/* profil dan logout user */
    .profil_user{
        height : 34px;
        width : 140px;
        margin : 0 0 0 40px;
        border-radius : 5px;
        font-weight : 500;
    }

    .logout_user{
        height : 34px;
        width : 140px;
        margin : 9px 0 0 40px;
        border-radius : 5px;
        font-weight : 500;
    }

    .profil_daftar_mapel_mobile a{
        color : black;
    }

    .profil_daftar_mapel_mobile a:link{
        text-decoration : none;
    }

/* profil dan logout user */

/* home.php */
    .text_img_content_home{
        position: relative;
        top: -37%;
        left: 80%;
        transform: translate(-50%, -50%);
    }

    .text_img_content_home{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text_color1{
        color : #001A01;
        opacity: 0.3;
    }
/* home.php */

/* login.php */
    .input_login {
        width : 450px;
        font-size : 20px;
        padding : 10px;
    }

    .button_login {
        width : 95px;
        height : 45px;
        border : 1px solid #DEDEDE;
        margin : 25px 0 35px 0;
    }

    .text_login {
        font-size : 13px;
    }
/* login.php */

/* register.php */
    .container_register{
        width : 430px;
        font-size : 12px;
    }

    .input_register {
        font-size : 12px;
    }

    .button_register{
        border : none;
        height : 35px;
        width : 211px;
        margin-top : 10px;
        margin-bottom : 60px;
        padding : 7px;
        font-size : 15px;
    }
/* register.php */

/* daftar_mapel.php */
    .container_profil_daftar_mapel{
        width : 180px;
        border-radius : 5px;
    }

    .profil_daftar_mapel{
        height : 40px;
        border-radius : 5px;
    }

    .profil_daftar_mapel img{
        height : 40px;
        width : 40px;
    }

    .img_dashboard_user{
        width : 50px;
        height : 50px;
    }

    .img_profil_daftar_mapel{
        height : 40px;
        width : 40px;
        border-radius : 5px 0 0 5px;
    }

    .text_profil_daftar_mapel{
        height : 40px;
        border-radius : 0 5px 5px 0;
        font-weight : 500;
    }

    .img_book_user {
        width : 50px;
        height : 50px;
    }

    .text_mapel_user{
        height : 50px;
        padding-left : 10px;
        font-size : 25px;
        font-weight : 500;
    }

    .container_card_daftar_mapel a:link{
        color : black;
        text-decoration: none;
    }

    .card_daftar_mapel{
        background-color : white;
        
    }

    .card_title{
        font-size : 25px;
        font-weight : 400;
    }
/* daftar_mapel.php */

/* profil.php */
    .text_profil_profil{
        font-weight : 500;
    }

    .title_detail_pengguna_profil{
        font-weight : 400;
    }

    .text_detail_pengguna_profil{
        font-weight : 600;
    }

    .titik2_detail_pengguna_profil{
        font-weight : 600;
    }

    .text_deskripsi_detail_pengguna_profil{
        font-weight : 400;
    }
/* profil.php */

/* materi_tugas.php */
    .title_materi_tugas{
        height : 66px;
        padding-left : 25px;
        font-size : 22px;
        font-weight : 600;
    }

    .text_pengumuman_materi_tugas{
        margin-top : 45px;
        font-size : 26px;
        font-weight : 400;
    }
    
    .text_pengumuman_materi_tugas img{
        width : 40px;
        height : 40px;
        margin-left : 25px;
    }

    .title_content_materi_tugas{
        margin-top : 20px;
        padding : 10px 5px;
        font-size : 26px;
        font-weight : 600;
    }

    .materi_content_materi_tugas img{
        width : 30px;
        height : 30px;
    }

    .tugas_content_materi_tugas img{
        width : 30px;
        height : 30px;
    }

    .container_detail{
        margin-bottom : 30px;
    }

    .container_detail a{
        color : black;
    }

    .container_detail a:link{
        text-decoration : none;
    }

    .deskripsi_materi_tugas{
        padding-left : 35px;
    }
/* materi_tugas.php */

/* tugas_user.php */
    .container_tugas_user{
        margin-top : 70px;
    }

    .keterangan_tugas_user .left{
        width : 190px;
        padding : 5px 0;
    }

    .keterangan_tugas_user .right{
        padding : 5px 0;
    }

    .kolom_komentar_tugas_user{
        height : 150px;
        padding-left : 145px;
    }

    .kolom_komentar_tugas_user textarea{
        height : 100px;
    }
/* tugas_user.php */

/* admin.php */
.container_menu_admin {
    display : flex;
    width : 120px;
    height : 40px;
    align-items : center;
}

.img_menu_admin img{
    width : 25px;
    height : 25px;
}

.text_menu_admin{
    font-size : 20px;
    font-weight : 500;
}

.container_content_admin{
    height : 362px;
}
/* admin.php */




/* ------------------------------------------------------ */




@media (max-width: 576px){
/* navbar home.php, login.php */
    .img_navbar{
        width : 82vw;
    }

    .btn_navbar{
        width : calc(18vw + 2px)!important;
        height : calc(8vw - 2px)!important;
        font-size : calc(3vw - 2px)!important;
        margin-top : 10px;
        margin-bottom : 10px;
        margin-left : calc(1vw + 2px);
        margin-right : calc(1vw + 2px);
        border-radius : 3px;
    }
/* navbar home.php, login.php */

/* home.php */
    .text_home{
        font-size : calc(7vw - 2.2px);
    }

    .home_content{
        font-size : calc(4.5vw - 2px)!important;
    }

    .img_content_home{
        width: 70%;
        margin: 0.5rem;
    }
/* home.php */

    .bottom_content{
        margin-bottom: 50px;
    }
    
    .text_footer{
        font-size : 3vw!important;
    }


/* login.php */
    .input_login {
        width : calc(90vw - 2px)!important;
        /* width : calc(300px + 1vw)!important;
        font-size : calc(8px + 1vw)!important; */
        font-size : calc(3vw + 1px)!important;
        padding : 10px;
    }

    .button_login {
        width : 21vw!important;
        height : 10vw!important;
        font-size : calc(3vw + 1px)!important;
        border : 1px solid #DEDEDE;
        margin : 25px 0 35px 0;
        border-radius : 3px;
    }

    .text_login {
        font-size : 13px;
    }
/* login.php */


/* register.php */
    .img_head_register {
        width : 20vw!important;
    }

    .title_register h2 {
        font-size : calc(7vw - 5px);
    }

    .container_register{
        width : 90vw!important;
    }

    .button_register{
        width : 43.5vw!important;
        font-size : calc(9px + 1vw)!important;
    }
/* register.php */

/* img navbar mobile */
.img_navbar_mobile{
    height : 11vw;
    width : 80vw;
}
/* img navbar mobile */

/* profil dan logout user */
.profil_user{
    width : 14.7vw;
    height : 6.5vw;
    margin-left : 0!important;
    font-size : 2.5vw;
}

.logout_user{
    width : 14.7vw;
    height : 6.5vw;
    margin : 0 0 0 1vw;
    font-size : 2.5vw;
}

.profil_daftar_mapel_mobile{
    display : flex;
}
/* profil dan logut user */

/* daftar_mapel.php */
    .container_profil_daftar_mapel{
        padding-left : 1vw;
    }

    .profil_daftar_mapel img{
        height : 7.3vw;
        width : 7.3vw;
    }

    .img_profil_daftar_mapel{
        height : 7.3vw;
        width : 7vw;
    }

    .text_profil_daftar_mapel{
        width : 10vw;
        height : 7.3vw;
        font-size : 3.1vw;
    }

    .img_dashboard_user{
        width : 9vw;
        height : 9vw;
    }

    .img_book_user{
        height : 9vw;
        width : 9vw;
    }

    .text_mapel_user{
        height : auto;
        font-size : 5vw;
    }

    .img_card_daftar_mapel{
        width : 61vw;
        height : 45vw;
    }

    .card_title{
        font-size : 4.3vw;
        font-weight : 400;
    }

    .card_text{
        font-size : 5vw;
    }
/* daftar_mapel.php */

/* profil.php */
    .container_profil_profil{
        height : 11vw;
    }

    .img_profil_profil{
        width : 11vw;
        height : 11vw;
    }

    .img_profil_profil img{
        width : 11vw;
        height : 11vw;
    }

    .text_profil_profil{
        width : 30vw;
        height : 11vw;
        font-size : 4vw;
    }

    .title_detail_pengguna_profil{
        width : 100%;
        font-size : 4vw;
        padding-left : 2vw!important;
        margin-top : 4vw;
    }

    .text_detail_pengguna_profil{
        width : 28vw;
        height : 8vw;
        font-size : 3.2vw;
        padding-left : 4vw;
    }

    .titik2_detail_pengguna_profil{
        font-size : 3vw;
    }

    .text_deskripsi_detail_pengguna_profil{
        display : flex;
        align-items : center;
        height : 8vw;
        padding-left : 6px;
        font-size : 3vw;
    }
/* profil.php */

/* materi_tugas.php */
    .title_materi_tugas{
        height : 15.5vw;
        font-size : 5vw;
    }

    .text_pengumuman_materi_tugas{
        margin-top : 8vw;
        font-size : 4vw;
        font-weight : 400;
    }
    
    .text_pengumuman_materi_tugas img{
        width : 30px;
        height : 30px;
        margin-left : 25px;
    }

    .title_content_materi_tugas{
        margin-top : 3vw;
        margin-left : 1.2vw!important;
        font-size : 3.5vw;
    }

    .deskripi_content_materi_tugas, .materi_content_materi_tugas, .tugas_content_materi_tugas{
        font-size : 3.2vw;
    }

    .materi_content_materi_tugas img{
        width : 20px;
        height : 20px;
    }

    .tugas_content_materi_tugas img{
        width : 20px;
        height : 20px;
    }

    .deskripsi_materi_tugas{
        padding-left : 24px;
    }
/* materi_tugas.php */

/* tugas_user.php */
    .container_tugas_user{
        margin-top : 20px;
    }

    .keterangan_tugas_user{
        font-size: 3vw;
    }

    .keterangan_tugas_user .left{
        width : 45%;
    }

    .keterangan_tugas_user .right{
        width : 55%;
    }

    .container_pengiriman_bekas_tugas_user,.container_kolom_komentar_tugas_user{
        font-size: 3vw;
    }

    .kolom_komentar_tugas_user{
        height : 150px;
        padding-left : 0;
    }

    .kolom_komentar_tugas_user textarea{
        height : 100px;
    }
    
    .kolom_komentar_tugas_user button{
        font-size : 3vw;
    }

    .btn_modal button{
        font-size : 3vw;
    }

    .modal-content input {
        font-size : 3vw;
    }

    
/* tugas_user.php */
}

@media (min-width : 577px){
/* navbar home.php, login.php */
    .btn_navbar{
        width : 20vw;
        height : 9vw;
        font-size : 3.2vw;
        margin : 10px 5px;
        border-radius : 5px;
    }
/* navbar home.php, login.php */

/* profil.php */
    container_profil_profil{
        height : 65px;
    }

    .img_profil_profil{
        width : 65px;
        height : 65px;
    }

    .img_profil_profil img{
        width : 65px;
        height : 65px;
    }

    .text_profil_profil{
        width : 200px;
        height : 65px;
        font-size : 2x;
    }

    .title_detail_pengguna_profil{
        width : 300px;
        font-size : 18px;
    }

    .text_detail_pengguna_profil{
        width : 155px;
        height : 50px;
        padding-left : 20px;
        font-size : 19px;
    }

    .titik2_detail_pengguna_profil{
        display : flex;
        justify-content : center;
        align-items : center;
        width : 10px;
        height : 50px;
        font-size : 19px;
    }

    .text_deskripsi_detail_pengguna_profil{
        display : flex;
        align-items : center;
        padding-left : 6px;
        font-size : 17px;
    }
/* profil.php */
}

@media (min-width: 768px){
/* navbar home.php, login.php */
    .img_navbar{
        width : 55vw;
    }

    .btn_navbar{
        width : 78px!important;
        height : 37px;
        font-size : 12px;
        margin : 10px 12px;
        border-radius : 5px;
    }
/* navbar home.php, login.php */

/* home.php */
    .img_content_home{
        width : 40vw!important;
    }
/* home.php */

/* register.php */
    .img_head_register {
        width : 100px!important;
    }
/* register.php */

/* daftar_mapel.php */
    .card_title{
        font-size : 20px;
        font-weight : 400;
    }

    .card_text{
        font-size : 25px;
    }
/* daftar_mapel.php */

/* profil.php */
    .container_profil_profil{
        height : 65px;
        padding : 0 40px;
    }

    .img_profil_profil{
        width : 65px;
        height : 65px;
    }

    .img_profil_profil img{
        width : 65px;
        height : 65px;
    }

    .text_profil_profil{
        width : 200px;
        height : 65px;
        font-size : 22px;
    }

    .parent_container_detail_pengguna_profil{
        padding : 0 40px;
    }

    .title_detail_pengguna_profil{
        width : 400px;
        font-size : 18px;
    }

    .text_detail_pengguna_profil{
        width : 285px;
        height : 50px;
        padding-left : 20px;
        font-size : 20px;
    }

    .titik2_detail_pengguna_profil{
        display : flex;
        justify-content : center;
        align-items : center;
        width : 10px;
        height : 50px;
        font-size : 20px;
    }

    .text_deskripsi_detail_pengguna_profil{
        display : flex;
        align-items : center;
        width : 764px;
        height : 50px;
        padding-left : 6px;
        font-size : 17px;
    }
/* profil.php */
}

@media (min-width: 1024px){
/* navbar home.php, login.php */
    .btn_navbar{
        width : 82px!important;
        height : 35px;
        font-size : 12px;
        margin : 0 8px;
        border-radius : 5px;
    }
/* navbar home.php, login.php */

/* home.php */
    .img_content_home{
        width : 22vw!important;
        margin-top : -50px;
        margin-bottom : -50px;
    }
/* home.php */

/* register.php */
    .img_head_register {
        width : 105px!important;
    }
/* register.php */

/* profil.php */
    .container_profil_profil{
        height : 70px;
        padding : 0 40px;
    }

    .img_profil_profil{
        width : 70px;
        height : 70px;
    }

    .img_profil_profil img{
        width : 70px;
        height : 70px;
    }

    .text_profil_profil{
        width : 200px;
        height : 70px;
        font-size : 22px;
    }

    .title_detail_pengguna_profil{
        width : 500px;
        font-size : 20px;
        font-weight : 400;
    }

    .text_detail_pengguna_profil{
        width : 200px;
        height : 64px;
        padding-left : 20px;
        font-size : 25px;
    }

    .titik2_detail_pengguna_profil{
        display : flex;
        justify-content : center;
        align-items : center;
        width : 10px;
        height : 64px;
        font-size : 25px;
        font-weight : 600;
    }

    .text_deskripsi_detail_pengguna_profil{
        display : flex;
        align-items : center;
        /* width : 764px; */
        width : auto;
        height : 64px;
        padding-left : 12px;
        font-size : 22px;
        font-weight : 400;
    }
/* profil.php */
}

@media (min-width: 1200px){
    /* profil.php */
        .container_profil_profil{
            padding : 0 40px;
        }

        .parent_container_detail_pengguna_profil{
            padding : 0 40px;
        }

        .text_detail_pengguna_profil{
            width : 206px;
            height : 64px;
            font-size : 25px;
        }
    /* profil.php */
}

@media (min-width: 1440px){
/* navbar home.php, login.php */
    .btn_navbar{
        width : 100px!important;
        height : 42px;
        font-size : 15px;
    }
/* navbar home.php, login.php */

/* home.php */
    .home_content{
        font-size : 16.5px;
    }

    .img_content_home{
        width : 20vw!important;
    }
/* home.php */

/* register.php */
    .img_head_register {
        width : 130px!important;
    }
/* register.php */

/* profil.php */
    .container_profil_profil{
        height : 80px;
        padding : 0 40px;
    }

    .img_profil_profil{
        width : 80px;
        height : 80px;
    }

    .img_profil_profil img{
        width : 80px;
        height : 80px;
    }

    .parent_container_detail_pengguna_profil{
        padding : 0 40px;
    }

    .text_profil_profil{
        width : 216px;
        height : 80px;
        font-size : 25px;
    }

    .title_detail_pengguna_profil{
        width : 500px;
        font-size : 22px;
    }

    .text_detail_pengguna_profil{
        width : 225px;
        height : 64px;
        padding-left : 20px;
        font-size : 27px;
    }

    .titik2_detail_pengguna_profil{
        display : flex;
        justify-content : center;
        align-items : center;
        width : 10px;
        height : 64px;
        font-size : 27px;
    }

    .text_deskripsi_detail_pengguna_profil{
        display : flex;
        align-items : center;
        width : 764px;
        height : 64px;
        padding-left : 12px;
        font-size : 25px;
    }
/* profil.php */
}
